<div class="col-md-6 offset-md-3">
  <br>
  <h3 class="text-center" style="color: green; font-size: 50px;">Registro de Glosa</h3>
  <br>

  <form (ngSubmit)= "onSubmit()" #glosaForm = "ngForm">

    <!---- glosa.numerofactura -->
    <div class="form-group">
      <label>numero factura</label>
      <input type="text"
      class="form-control"
      id="numerofactura"
      [(ngModel)] = "glosa.numerofactura"
      name="numerofactura"
      required
      minlength="4"
      maxlength="10"
      placeholder="Digite su numerofactura"
      #numerofactura = "ngModel"
      >
      <div class="alert alert-danger" *ngIf="numerofactura.invalid && (numerofactura.dirty || numerofactura.touched)">
        <div *ngIf="numerofactura.errors.required">
          Digite su numerofactura por favor
        </div>
        <div *ngIf="numerofactura.errors.minlength">
          El numerofactura tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf="numerofactura.errors.maxlength">
          El numerofactura tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

      <!---- glosa.entidad -->
      <div class="form-group">
      <label>entidad</label>
      <input type="text"
      class="form-control"
      id="entidad"
      [(ngModel)] = "glosa.entidad"
      name="entidad"
      required
      minlength="4"
      maxlength="10"
      placeholder="Digite su entidad"
      #entidad = "ngModel"
      >
      <div class="alert alert-danger" *ngIf="entidad.invalid && (entidad.dirty || entidad.touched)">
        <div *ngIf="entidad.errors.required">
          Digite su entidad por favor
        </div>
        <div *ngIf="entidad.errors.minlength">
          El entidad tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf="entidad.errors.maxlength">
          El entidad tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <!---- glosa.clasificacion -->
    <div class="form-group">
      <label>clasificacion: </label>
      <input type="text"
      class="form-control"
      id="clasificacion"
      [(ngModel)] = "glosa.clasificacion"
      name="clasificacion"
      required
      minlength="4"
      maxlength="10"
      placeholder="Digite su clasificacion"
      #clasificacion = "ngModel"
      >
      <div class="alert alert-danger" *ngIf="clasificacion.invalid && (clasificacion.dirty || clasificacion.touched)">
        <div *ngIf="clasificacion.errors.required">
          Digite su clasificacion por favor
        </div>
        <div *ngIf="clasificacion.errors.minlength">
          El clasificacion tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf="clasificacion.errors.maxlength">
          El clasificacion tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <!---- este es el boton de todo el formulario  -->
    <button class="btn btn-success" [disabled]="!glosaForm.form.valid">  Guardar Glosa</button>

  </form>
</div>
